# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# macOS
.DS_Store

**/sdk

/.vscode

**/testdata/rapid/**

go.work
go.work.sum

# Code coverage reports
**/coverage.txt

bin