name: Test

on:
  workflow_call:
    inputs:
      live-test:
        description: |
          Whether to run tests against a live environment. When false, tests that require secrets
          should be skipped.
        default: false
        required: false
        type: boolean
      python-version:
        description: "Version of the Python toolchain for the build"
        default: "3.9.x"
        required: false
        type: string
      node-version:
        description: "Version of the Node toolchain for the build"
        default: "14.x"
        required: false
        type: string
      dotnet-version:
        description: "Version of the .NET toolchain for the build"
        default: "3.1.x"
        required: false
        type: string
      commit-ref:
        description: Commit ref to check out and run tests against.
        default: ""
        required: false
        type: string
    secrets:
      PULUMI_ACCESS_TOKEN: { required: false }
      CODECOV_TOKEN: { required: false }

env:
  PULUMI_LIVE_TEST: ${{ inputs.live-test }}
  PULUMI_API: https://api.pulumi-staging.io
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  PULUMI_TEST_PARALLEL: false
  NODE_OPTIONS: --max-old-space-size=3072

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
        with:
          ref: ${{ inputs.commit-ref }}
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
          stable: ${{ matrix.go-stable }}
      - name: Install Pulumi CLI
        uses: pulumi/action-install-pulumi-cli@b374ceb6168550de27c6eba92e01c1a774040e11 # v2
      - name: Test
        run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - 1.24.x
        go-stable: [true]
