package main

import (
	"github.com/pulumi/pulumi-go-provider/component"
	"github.com/pulumi/pulumi-go-provider/infer"
	"github.com/pulumi/pulumi/sdk/v3/go/pulumi"
)

// Register all the types that this provider supports.
func init() {
	{{.InitBody}}
}

// Scaffold wrapped Construct methods.
{{range .Components}}
func (r *{{.Name}}) Construct(ctx *pulumi.Context, name, typ string, args {{.Args}}, opts pulumi.ResourceOption) (*{{.Name}}, error) {
	{{.Body}}
}
{{end}}

func main() {
	// Start the provider host using source code in the current directory.
	component.ProviderHost()
}
